.App {
    text-align: center;
    /* background-color: #282c34; */
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    /* color: white; */
}

.box1 {
    background-color: orange;
    width: 100px;
    height: 100px;
}

.box2 {
    background-color: skyblue;
    width: 100px;
    height: 100px;
    /* position: static; */
    /* position: relative; */
    position: fixed;
    top: 30px;
    left: 30px;
}

.box3 {
    background-color: tomato;
    width: 100px;
    height: 100px;
}