.App {
    text-align: center;
    /* background-color: #282c34; */
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    /* color: white; */
    position: relative;
}

.box1,
.box2,
.box3 {
    width: 100px;
    height: 100px;
}

.box1 {
    background-color: orange;
}

.box2 {
    background-color: skyblue;
    /* position: static; */
    position: relative;
    /* position: fixed; */
    /* position: absolute; */
    /* top: 30px; */
    /* left: 30px; */
}

.inner-box {
    position: absolute;
    content: "";
    top: 30px;
    left: 30px;
}

.box3 {
    background-color: tomato;
}